* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    background: radial-gradient(circle, rgba(251, 208, 63, 1) 0%, rgba(252, 106, 70, 1) 100%);
    background-image: url(img/o\ seara\ de\ colectie\ 2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    width: 100%;
    height: fit-content;
    background-color: rgb(0, 0, 0);
    margin-left: 50%;
    transform: translate(-50%);
}
.top-nav{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 4vh;
    background-color: rgb(192, 0, 0);
}
.left-top-nav{
    display: flex;
    margin-left: 10px;
}
.right-top-nav{
    display: flex;
    margin-right: 10px;
}
.socialnetwork{
    display: flex;
    margin-right: 10px;
    align-items: center;
    list-style-type: none;
}
.socialnetwork a{
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: 2px 2px 4px #000000;
    color: #fff;
    list-style-type: none;
    text-decoration: none;
    margin-right: 10px;
}
.socialnetwork li{
    margin-right: 10px;
}
.socialnetwork li a {
    display: flex;
    text-align: center;
    align-items: center;
    margin-right: 10px;

}

.l-authentik-adress,
.mail-adress {
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: 2px 2px 4px #000000;
    color: #fff;
    margin-right: 30px;
    font-size: .8rem;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: start;
    
}
.l-authentik-adress i,
.mail-adress i{
    color: red;
    font-size: 2rem;
    margin-right: 10px;

}
.mail-adress h3 a{
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: 2px 2px 4px #000000;
    color: #fff;
    list-style-type: none;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin-top: 20px;
}

nav ul a {
    text-decoration: none;
    color: #fff;
    margin-left: 10px;
    text-transform: uppercase;
}

.logo {
    margin-top: 10px;
    width: 125px;
    height: auto;
}

.logo img {
    width: 100%;
    margin: 10px;
}

.nav-name {
    margin-top: 10px;
    display: flex;
    height: 100px;
    justify-content: center;
}

.nav-name:hover {
}

.nav-name a {
    text-decoration: none;
}

.nav-name a h1 {
    margin-top: 30px;
    color: #fff;
    font-size: 2rem;
    text-shadow: 2px 2px 1px #333;
}

.nav-name h2 {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    color: orange;
    font-size: 1.2rem;
}

.nav-name h2 img {
    width: 50px;
    height: 70px;
    margin-left: 20px;
}

.burger-icon {
    display: flex;
    position: relative;
    margin-top: 10px;
    right: 10px;
    font-size: 2rem;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

/* Stilurile pentru meniul mobil */
.mobile-menu {
    display: none;
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    background-image: url(img/background1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 10;
    /* Setează z-index la o valoare specifică */
    transition: left 0.5s ease-in-out;
}

.mobile-menu ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.297);
    padding: 20px;
    box-sizing: border-box;
    list-style-type: none;
}

.mobile-menu ul li {
    margin-bottom: 15px;
    /* Adaugă spațiu între elementele listei */
}

.mobile-menu ul a {
    text-decoration: none;
    color: #fff;
    font-size: 2.2rem;
    transition: color 0.3s ease-in-out;
}

.mobile-menu ul a:hover {
    color: #000;
    text-shadow: 2px 2px 3px rgb(255, 255, 255);
}

.close-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 2rem;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.close-icon:hover {
    color: #fff;
}































@media screen and (max-width: 768px) {
    .logo {
        width: 65px;
        height: auto;
    }

    .logo img {
        width: 100%;
        margin: 10px;
    }

    .nav-name a h1 {
        margin-top: 20px;
        color: #fff;
        text-shadow: 2px 2px 1px #333;
        font-size: 1rem;
    }

    .nav-name h2 {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        color: orange;
        font-size: 0.8rem;
    }

    .l-authentik-adress h3,
    .mail-adress h3,
    .socialnetwork li a p{
        display: none;
    }

}
