* {
    margin: 0;
    padding: 0;
}

body {
    width: 95%;
    margin-left: 50%;
    transform: translate(-50%);
    height: fit-content;
    font-family: 'Noto Sans', sans-serif;
    background-color: #ffffff;
    box-shadow:  5px 5px 5px 15px rgb(0, 0, 0);
    background-color: #720606;
    background-image: linear-gradient(94deg, #b51c1c 0%, #000000 66%);
    }
body h1{
    color: #ffffff;
    text-shadow: 2px 2px 4px black;
    align-items: center;
    text-align: center;
    font-size: 1.8rem; 
    animation: cadere 0.5s ease forwards; 
    opacity: 0; 
    
}
@keyframes cadere {
    from {
        transform: translateY(-90px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
.mesaj-intampintare{
    color: #fff;
    align-items: center;
    text-align: center;
    font-size:1.2rem;
    margin-top: 10px;
    margin-bottom: 20px;
}
.mesaj-intampintare p {
    opacity: 0;
}

.mesaj-intampintare p span {
    opacity: 0;
    animation: aparitie 0.5s forwards;
}

@keyframes aparitie {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

header {
    width: 100%;
    height: fit-content;
    margin-bottom: 5px;
    background-image: url(img/l-authentik\ local\ 6.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.top-nav{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;    
    width: 100%;
    height: fit-content;
    background-color: #7206064e;
    background-image: linear-gradient(94deg, #720606b1 0%, #00000096 66%);
}
.left-top-nav{
    display: flex;
    margin-left: 10px;
}
.right-top-nav {
    display: flex;
    margin-right: 10px;
}

.socialnetwork {
    display: flex;
    align-items: center;
    list-style-type: none;
}
.socialnetwork .order-now i{
    color: #fff;
}

.socialnetwork a,
.mail-address  {
    cursor: pointer;
    text-shadow: 2px 2px 4px #000000;
    font-size: 1rem;
    margin-right: 5px;
    display: flex;
    align-items: center; 
    justify-content: start;
    font-family: 'Bungee Spice', cursive; 
}
.mail-address i{
    font-size: 1.3rem;
    margin: 10px;
}
.mail-address a{
    text-decoration: none;
}
.socialnetwork li i,
.mail-address i,
.socialnetwork li h3,
.l-authentik-address h3,
.mail-address h3,
.socialnetwork li a {
 transition: transform 0.3s, background-color 0.3s;
}
.l-authentik-address i{
    margin-right: 10px;
    transition: transform 0.3s, background-color 0.3s;
    font-size: 1.3rem;
}
.socialnetwork li a,
.mail-address h3 a {
    cursor: pointer;
    text-shadow: 2px 2px 4px #000000;
    color: #000000;
    font-family: "";
    list-style-type: none;
    text-decoration: none;
    font-size: 1.3rem;
}
.socialnetwork li i:active,
.l-authentik-address i:active,
.mail-address i:active,
.socialnetwork li h3:active,
.l-authentik-address h3:active,
.mail-address h3:active,
.socialnetwork li a:active {
    transform: scale(0.9);
}
.l-authentik-address{
    display: flex;
}
.l-authentik-address #address{
    cursor: pointer;
    color: #ffffff;
    text-shadow: 2px 4px 5px black;
    list-style-type: none;
    text-decoration: none;
    font-size: .7rem;
}
.socialnetwork li a p{
    font-size: 1rem;
    font-family: 'Bungee Spice', cursive; 
    text-decoration: solid;
    border-radius: 10px 0 10px  0;
    width: fit-content;
}

nav {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
}



.logo{
    position: relative;
    width: 100px;
    height: 15vh;
    background-image: url(img/L`authentik.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}

.contact-form {
    display: none;
    position: relative;
    top: 0px; 
    left: 0;
    width: 90%;
    margin-left: 50%;
    transform: translate(-50%);
    padding: 20px;
    background-color: #fefefe;
    border: 1px solid #888;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.form-group input,
.form-group textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group input[type="submit"] {
    background-color: #ff6347;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    width: 30%;
    margin-left: 50%;
    transform: translate(-50%);
}

.form-group input[type="submit"]:hover {
    background-color: #d22f19;
}

#confirmation-message {
    margin-top: 20px;
    padding: 15px;
    background-color: #4caf50;
    color: #fff;
    border-radius: 5px;
}


.greeting {
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
    color: #333;
}

.encouragement {
    text-align: center;
    font-size: 16px;
    color: #666;
}

.wrap-menu-the-page{
    background: rgba(1, 1, 1, 1.0);
    background: radial-gradient(at right bottom, rgb(0, 0, 0), rgb(114, 6, 6));
    width: 100%;
    text-align: center;
    
}
.wrap-menu-page{
    display: none;
    background: rgba(1, 1, 1, 1.0);
    background: radial-gradient(at right bottom, rgb(0, 0, 0), rgb(114, 6, 6));
    width: 100%;
    text-align: center;
    
    
}
.wrap-menu-page h1,
.wrap-menu-the-page h1{
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
    text-shadow: 4px 2px 4px black;
    position: relative;
    margin-top: 10px;
}   

.container-menu-page {
    max-width: 800px;
    margin:  auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.705);
}

.category {
    
    box-shadow: inset 2px 2px 4px rgb(255, 255, 255);
    color: #ffffff;
    text-shadow: 2px 2px 6px black;
    text-transform: uppercase;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 4px;
}
.category:hover{
    background-color: rgb(177, 38, 0);
}
.category:active{
    background-color: rgb(118, 0, 0);
}


.container-menu-page .products-container {
    
    display: none;
}



.product {
    display: flex;
    flex-direction: column;
    background-color: #ffffff41;
    border: 1px solid #ffffff;
    color: #fff;
    border-radius: 4px;
    margin-top: 10px;

}

.product img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    margin-left: 50%;
    transform: translate(-50%);
}

.price {
    color:#ffffff;
    font-weight: bold;
    margin-top: 5px;
    display: block;
}

.add-to-history {
    background-color: #ffffff4f;
    color: #fff;
    border: none;
    padding: 8px 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 50%;
    margin-left: 50%;
    transform: translate(-50%);
}
.add-to-history i {
    color: red;
    font-size: 2rem;
    transition: transform 0.3s ease-in-out;
}

.add-to-history:active i {
    transform: scale(0.8);
}

.product button a{ 
    text-decoration: none;
}

  .history-popup {
    display: none;
    position: relative;
    padding: 20px;
    background-color: white;
    border: 1px solid #ddd;
    z-index: 1;
}

.history-popup-content {
    min-width: 100%;
    overflow-y: auto;
}

.close-history {
    color: #4CAF50;
    float: right;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}


.total-price {
    margin-top: 20px;

}
    .chef-presentation {
        position: relative;
        height: fit-content;
        overflow: hidden;
        margin-bottom: 25px;
        
    }
    
    .chef-presentation img {
        width: 100%;
        height: 500px;
        object-fit: cover;
        object-position: top;
        transition: transform 0.5s ease-in-out;
    }

    
    .presentation-text {
        position: relative;
        width: 60%;
        overflow-y: auto;
        background-color: rgba(0, 0, 0, 0.356);
        padding: 20px;
        border-radius: 10px;
    }
    .presentation-text h2{
        color:yellow;
    }
    .presentation-text p {
        font-size: 1rem;
        line-height: 1.2;
        color: #ffffff;
        text-shadow: 1px 1px 3px #000000;
    }
    .presentation-text p strong {
        font-size: 1rem;
        line-height: 1.2;
        color: #ffffff;
        text-shadow: 1px 1px 3px #bb0000;
    }
    .presentation-text li{
        display: flex;
    }
    
   
     
    .languageMenu {
        display: none;
        position: absolute;
        display: flex;
        margin-top:0px;
        height: 30px;
        width: 100px;
        justify-content: space-between;
        left: 80px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        cursor: pointer;
        opacity: 0;
        color: rgb(255, 255, 255);
        transition: transform 0.5s ease, opacity 0.5s ease;
      }
      
      .languageMenu.active {
        transform: translateY(-10px);
        opacity: 1;
        z-index: 3;
      }
      .languageMenu span{ 
        margin-right: 10px;
      }
      
      .toggleButton {

        position: relative;
        height: 20px;
        width: 50px;
        z-index: 2;
        align-self: center;
        padding: 3px;
        border-radius: 5%;
        font-size: 0.7rem;
        box-shadow: 1px 2px 1px #df0b0b;
        font-family: 'Times New Roman', Times, serif;
        border: none;
        cursor: pointer;
        transition: transform 0.3s ease;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        justify-items: center;
        gap: 2px;
        color: #fff;
        font-family: 'Times New Roman', Times, serif;
        
      }
      .buton-fr{
        background-color: #720606;
        background-image: linear-gradient(94deg, #720606 0%, #00000096 66%);
        font-size: 1.5rem;
        width: 60px;
        text-align: center;
        margin-top:5px;
      }
      .buton-ro{
        background-color: #720606;
        background-image: linear-gradient(94deg, #720606 0%, #000000b3 66%);
        font-size: 1.5rem;
        width: 60px;
        margin-top: 5px;
      }
      
      .toggleButton:hover:not(.active) {
        background-color: #e16200;
      }
      
      .toggleButton.active {
        transform: translateY(-1px);
      }

      .wrap-container-1-ads{
        width: 100%;
        height: 400px;
        background-color: #00000097;
        display: flex;
        position: relative;
        justify-content: center;

    }
      .container-1-ads {
        width: 100%;
        height: max-content;
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
    .container-1-ads h2{
        position: relative;
        font-size: 1.2rem;
    }

   
    
    .slider-imagini {
        min-height: 100%;
        min-width: 100%;
        display: flex;
        transition: transform 0.5s ease-in-out;
    }

    .imagine {
        flex: 0 0 100%;
        box-sizing: border-box;
        text-align: center;
        display: flex;
        justify-content: center;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
    }

    .imagine.activa {
        opacity: 1;
        
    }
    .descriere {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .descriere h2 {
        font-size: 1rem;
        color: #ffffff;
        text-shadow: 1px 2px 4px rgb(187, 185, 185);
    }

    .descriere p {
        font-size: 1rem;
        color: #ffbb00;
        text-shadow: 10px 7px 5px rgb(28, 9, 9);

    }
    .descriere img{
        position: relative;
        width: 300px;
        height: 250px;
        object-fit:fill;
    }

    .butoane-slider {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        color:black;
    }

    .buton-slider {
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background-color: #e44d26;
        margin: 0 8px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
    }

    .buton-slider.activ {
        background-color: #333;
    }
    .wrap-descriere-1{
        position: relative;

    }

    .wrap-descriere-2{
        position: relative;
    }
    .wrap-description-1{
      width: 95%;

    }
    .wrap-description-2{
       width: 100%;

    }
    .wrap-descriere-3 .descriere .img{
        height: 100px;
    }
    .wrap-container-afisare-produse-aleatorii{
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        height:fit-content;
        
    }
    .container-afisare-produse-aleatorii{
        width: 100%;
        margin-bottom: 20px;
    }
    .container-afisare-produse-aleatorii{
      
        .product{
            min-width: 100%;
            position: relative;
            text-align: center;
        }
        .product img{
            min-width:50%;
            height: fit-content;
            object-fit:contain;
        }
        .product h3{
            font-size:1.2rem;
            color: yellow;
            background-color: #dc0000af;
            text-align: center;
        }
        .product p{
            font-size: .9rem;
            text-align: center;
            color: #ffffff;
            width: 100%;
        }
    }
 
    .container-2-ads {
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        border-radius: 8px;
        overflow: hidden;
        height: fit-content;
        margin-bottom: 20px;
        
    }
    
    
    
    .image-slider {
        display: flex;
        transition: transform 0.5s ease-in-out;
        min-width: 100%;
        
    }
    
    .slide {
        flex: 0 0 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
    }
    
    .slide.active {
        opacity: 1;
        animation: fadeIn 2.5s ease-in-out;
    }
    
    .text-description {
        width: 90%;
        margin: 0 auto;
        color: #fff;
    }
    
    .text-description h2 {
        font-size: 1.5rem;
    }
    
    .text-description p {
        font-size: 0.8rem;
    }
    
    .slider-btns {
        bottom: 10px;
    }
    
    .slider-btn {
        font-size: 1.5rem;
        color: #fff;
        margin: 0 5px;
        cursor: pointer;
    }
    
    .slider-btn.active {
        color: #ff4500; 
    }
    
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }


    .info-prima-pagina-l-authentik {
        display: flex;
        text-align: center;
        width: 100%;
        height: 100px;
        box-shadow:  0 0 10px rgb(0, 0, 0);
        margin-bottom: 20px;
      }
 
      
      .info-section {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 10px;
        
      }
      .info-section a{
        text-decoration: none;
        list-style-type: none;
      }
      
      .info-subsection {
        flex: 0 0 20%; 
        height: 60px;
        transition: transform 0.3s ease;
        border-radius: 8px;
        background: rgba(1, 1, 1, 1.0);
        background: radial-gradient(at right bottom, rgb(0, 0, 0), rgb(255, 0, 0));
      }
      .info-section h3 i{
        margin-top:3px;
        font-size: 1.5rem;
        color: rgb(255, 255, 255);
        text-shadow: 2px 3px 2px rgb(0, 0, 0);
      }
      .info-section a h3{
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        margin-top: 3px;
      }
      .info-prima-pagina-l-authentik h3 {
        color: #ffffff;
        margin: 0px;
        font-size: .8rem;
      }
      .info-prima-pagina-l-authentik h3:hover{
        color: rgb(255, 255, 255);
      }
      
      .info-prima-pagina-l-authentik p {

        color:#fff;
      }
      .info-subsection:hover{
        transform: translateY(-15px); 
        height: 70px;
        background-image: none;
      }
      
     
    
      
      
      #google-reviews {
        margin-bottom: 25px;
      }
      #google-reviews h3{
        color: #fff;
      }
      
      #reviews-container {
        max-height: 300px; 
        overflow-y: auto; 
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        background-color: red;
      }
      
      .review {
        margin-bottom: 10px;
        border-bottom: 1px solid #ddd;
        padding-bottom: 10px;
      }
      
      .review p {
        margin: 5px 0;
      }
      
      .program-container {
        display: flex;
        position: relative;
        text-align: center;
        justify-content: space-evenly;
        min-width: 100%;
        max-height: 0;
        background: rgba(1, 1, 1, 1.0);
        background: radial-gradient(at right bottom, rgb(0, 0, 0), rgb(114, 6, 6));
        overflow: hidden;
        transition: max-height 0.5s ease;
        margin-bottom: 10px;
    }
    
    .program-container ul {
        list-style-type: none;
        padding: 0;
    }
    
    .program-container ul li {
        font-size: .9rem;
        color: rgb(255, 255, 255);
        text-shadow: 2px 4px 4px rgb(0, 0, 0);
    }
    
    .program-container.active {
        max-height: 25vh;
    }
    
    .clock-container {
        width: fit-content;
        background-color: rgba(255, 0, 0, 0.043);
        display: flex;
        float: right;
        position: relative;
        box-shadow: 1px 1px 7px rgb(133, 0, 0);
        padding: 3px;
        border-radius: 8px;
        margin-bottom: 20px;
      }
      .time, .date {
        font-size:.8rem;
        font-weight: bold;
        color: #ffffff;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
      }
    

      #history-container {
        max-width: 400px;
        margin: 0 auto;
        display: none;
    }
    
    .history-product {
        border: 1px solid #ccc;
        margin-bottom: 10px;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .history-product button {
        background-color: #dc3545;
        color: #fff;
        border: none;
        padding: 5px 10px;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    
    .history-product button:hover {
        background-color: #ffffff;
    }
 
    #restaurant-code {
        display: none;
    }
    .orders-container {
        max-width: 600px;
        margin: 20px auto;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 8px;
        background-color: #f9f9f9;
    }

    .order-item {
        margin-bottom: 10px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: #fff;
    }

    .order-info {
        font-weight: bold;
        margin-bottom: 5px;
    }

    .order-actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .order-status {
        font-style: italic;
        color: #555;
    }

    .update-status-btn {
        padding: 5px 10px;
        background-color: #4caf50;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    #order-form {
        background-color: #f4f4f4;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        max-width: 400px;
        margin: 0 auto;
        margin-top: 20px;
    }
    
    #order-form label {
        display: block;
        margin-bottom: 8px;
        font-weight: bold;
    }
    
    #order-form input,
    #order-form textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    
    #order-form button {
        background-color: #4caf50;
        color: #fff;
        padding: 12px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
    }
    
    #order-form button:hover {
        background-color: #45a049;
    }
    .indrumare{
        
        
    }
    p.indrumare{
        color:rgb(222, 222, 222);
        font-family: 'Times New Roman', Times, serif;
        font-size: .6rem;
    }

    
    .reclama-favorite {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
    
    }
    
    .image-container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center;
    }
    
    #img-animatie {
        width: 100%;
        height: auto;
        opacity: 0;
        transition: opacity 0.8s ease-in-out;
    }
    
    .text-container {
        max-width: 600px;
        display: flex;
        flex-direction: column;
        opacity: 0;
        transition: opacity 0.8s ease-in-out 2s;
    }
    .text-container h1{
        color: red;
    }
    
    .reclama-favorite-text p {
        margin-bottom: 10px;
        line-height:1;
        text-transform: uppercase;
        font-family: 'Times New Roman', Times, serif;
    }
    

    
    .reclama-favorite-text h2 {
        color: #ffffff;
    }


    .buton-comanda {
        display: inline-block;
        padding: 10px 20px;
        background-color: #4CAF50;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }
    
    .buton-comanda:hover {
        background-color: #45a049;
    }
        
    .about-us-container {
        display: none;
        position: relative;
        justify-content: center;
        text-align: start;
        width: 95%;
        margin-left: 50%;
        transform: translate(-50%);
        height: fit-content;
        padding: 20px;

        border: 1px solid #888;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .about-us-container p,
    .about-us-container h1,
    .about-us-container h2{
        color: #fff;
        
    }

    .about-us-container .despre-noi-imagine{ 
        width: 300px;
        height: 300px;
        object-fit: fill;
    }
    .about-us-button {
        width: fit-content;
        margin-top: 20px;
      }
      
    .about-us-button button {
        background-color: #860000af;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .about-us-button button:hover {
        background-color: #8a3200;
    }

    .galerie {
        position: relative;
        width: 100%;
        text-align: center;
        justify-content: center;
        align-content: center;
        justify-items: center;
    }
    
    .galerie h1 {
        position: relative;
        color: #ffffff;
        background-color: #000000;
        text-shadow: 3px 3px 3px rgb(115, 112, 112);
    }
    
    .galerie-butoane {
        width: 100%;
        text-align: center;
        display: flex;
    }
    
    .galerie-butoane button {
        padding: 10px 20px;
        margin: 0 10px;
        font-size: 16px;
        cursor: pointer;
        background-color: #720606;
        background-image: linear-gradient(94deg, #720606 0%, #810000 66%);
        border: none;
        color: #fff;
        border-radius: 5px;
        width: 100%;
        transition: background-color 0.3s ease;
    }
    
    .galerie-butoane button:hover {
        background-color: #2980b9;
    }
    
    .galerie-continut {
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .gallery-content {
        width: 100%;
        max-height: 80vh;
        overflow-x: auto;
        display: none;
        list-style-type: none;
    }
    
    .gallery-content img {
        width: 100%;
        height: fit-content;
        margin-top: 10px;
    }
    
    .gallery-content video {
        width: 100%;
        height: auto;
    }
    
    @media (min-width: 768px) {
        .gallery-content {
            width: 80%;
            margin-left: 50%;
            transform: translate(-50%);
        }
    }
    

    .wrap-news-l-authentik {
        text-align: center;
    }

    .news-l-authentik {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }

    .news-sf-valentin,
    .news-dragobetele,
    .news-pastele {
        position: relative;
        width: 100%;
        background-color: #bfadad37;
        color:#fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        cursor: pointer;
    }

    .news-sf-valentin p,
    .news-dragobetele p,
    .news-pastele p,
    .news-sf-valentin img,
    .news-dragobetele video,
    .news-pastele img {
        display: none;
        max-width: 100%;
        border-radius: 8px;
        margin-top: 15px;
    }
    .news-sf-valentin h3,
    .news-dragobetele h3,
    .news-pastele h3 {
        color: red;
        padding: 10px;
    }























.footer-content{
    width: 100%;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    background: rgba(1, 1, 1, 1.0);
    background: radial-gradient(at right bottom, rgb(0, 0, 0), rgb(255, 0, 128));
    height: 10vh;
  }
  .footer-content a {
    color: #ffffff;
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    text-shadow: 3px 3px 4px #000000;
    transition: transform 1.6s ease-out, color 0.5s ease-out, text-shadow 0.5s ease-out;
}
    .footer-content h2 a{
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: .9rem;    
    }





















@media screen and (max-width: 768px) {
    header {
        position: relative;
        width: 100%;
        margin-bottom: 25px;
    }
    
    .mail-address h3,
    .socialnetwork li a p,
    .l-authentik-address h3 {
        display: none;
    }

  .socialnetwork .order-now i{
    position: relative;
    margin-left: 10px;
  }
    .socialnetwork .order-now p {
        display: flex;
        flex-direction: column;  
        align-items: center;  
        text-transform: uppercase;
        font-size: .6rem;
        font-family: 'Bungee Spice', cursive;
        color: #ffffff;
        text-shadow: 3px 1px 5px rgb(0, 0, 0);
        margin-right: -10px;
        padding: 3px;
        border-radius: 10px;
        box-shadow: 2px 2px 15px 4px rgb(255, 255, 255);
    }
    
 
   
    .top-nav{
        padding: 5px;
        margin-top: 3px;
        
       }
 
    .footer-content{
        display: flex;
        flex-direction: column;
        height: fit-content;
        line-height: .7;
        
    }
    .footer-content h2 a{
        font-size: .7rem;
    }
   
    .chef-presentation{
        position: relative;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }
    .presentation-text {
        position: relative;
        min-width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        height: fit-content;
        object-fit: contain;
        transition: transform 0.5s ease-in-out;
        margin-bottom: 20px;
    }
    .presentation-text p {
        font-size: .6rem;
    }
    .chef-presentation img {
        width: 100%;
        height: 300px;
        object-position: top;
    }

    
    .info-subsection {
        flex: 0 0 19%; 
        transition: transform 0.3s ease;
      }
  
      .info-prima-pagina-l-authentik h3 {
        
        font-size: .7rem;
      }
      
   
      .program-container ul li {
        font-size: .7rem;
    }
  

    .descriere h2 {
        font-size: .9rem;
 
    }

    .descriere p{
        font-size: .8rem;
        width: 80%;
        padding: 10px;
    }

    .languageMenu {
        display: none;
        position: absolute;
        display: flex;
        margin-top:40px;
        height:40px;
        width:130px;
        background-color: rgb(0, 0, 0);
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        cursor: pointer;
        opacity: 0;
        color: rgb(255, 255, 255);
        transition: transform 0.5s ease, opacity 0.5s ease;
      }
      
      .languageMenu.active {
        transform: translateY(-10px);
        opacity: 1;

      }
      .languageMenu span{ 
        position: relative;
        
      }
      
     
      .container-2-ads{
        width: 100%;
        min-height: 25vh;
        margin-bottom: 20px;
      }
      .about-us-content img{
        width: 50%;
        height: 200px;
        margin-left: 50%;
        transform: translate(-50%);
    }



    .galerie img {
        width: 100%;
        height: fit-content;
        object-fit: contain;
       
    }
    .gallery-content img {  
        width: 100%;
        height: fit-content;
        margin-top: 10px;
        padding: auto;
    }
    .descriere img{
        position: relative;
        width: 150px;
        height: 150px;
        object-fit:fill;
    }
    .languageMenu{
        position: absolute;
        left: 0;
    }

    .news-l-authentik {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .news-sf-valentin,
    .news-dragobetele,
    .news-pastele {
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        max-width: 100%;
    }

    .news-sf-valentin img,
    .news-dragobetele video,
    .news-pastele img {
        max-width: 100%;
        border-radius: 8px;
        margin-top: 15px;
    }
    .wrap-container-1-ads{
        width: 100%;
        height: 350px;

    }
    
    }
















@media screen and (min-width: 768px) and (max-width: 1024px) {
   
    .socialnetwork a,
    .mail-address, .socialnetwork li a p{
        font-size: .7rem;
    }
  
}























@media screen and (min-width: 1025px) {
    section#menu {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px; 
        justify-content: space-around;
        padding: 20px;
}
.dish {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.dish img{
    width: 60%;
}
.dish-info p {
    font-size: 1rem;

}

}